#nav-bar{
    color : black ; 
    background-color: blanchedalmond ; 

    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center ; 
    align-content: center ; 
    
    
    

}
#menu{
    color : blanchedalmond ;  
    background-color: #1B5E20; 
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;

}
#image{
    height: 300px ;
    width: 1500px ;
    border-color: aqua;
    border-style: solid ;

    background-image: url(photo.jpg);
    background-size: contain;
    padding-left: 25px ;

    
}

#card1{
    
    height: 150px ;
    width: 1500px ;
    border-style: solid ;
    border-color: black;
    margin-right: 50px ;

}
#cards{
    height: 200px ;
    width: 1500px ;
    border-style: solid ;
    border-color: black;
    margin-right: 50px ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-around ;


}
#card2{
    height: 200px ; 
    width: 200px ; 
    border-style: solid ;
border-color: black;

}
#card3{
    height: 200px ;
    width: 200px ;
    border-style: solid ;
    border-color: black;
}

#card4{
    height: 200px ; 
    width: 200px ; 
    border-style: solid ;
    border-color: black;
}
#card5{
    height: 200px ; 
    width: 200px ; 
    border-style: solid ;
    border-color: black;
}
#color{
width: 300px  ;
padding-right: 300px ;
    
}
#help{
margin-right: 30px ;
}
#contact{
    margin-right: 70px ;
    border: 2px  solid transparent;
}
#contact:hover{
    border: 2px  solid white ;
}
#sign{
    margin-right:400px  ;
}
#products{
    border: 2px solid transparent;
}
#products:hover{
    border: 2px solid white 
}
#cart{
    border: 2px solid transparent;
}
#cart:hover{
    border: 2px solid white ;
}
#bag{
    border: 3px solid transparent;
}
#bag:hover{
    border: 2px solid white ;
}

#icon1{
    position: relative;
    top: 10px ;
    font-size: 25px;
    margin-right: 400px ;
    padding-bottom: 20px ;
}
#icon2{
    position: relative;
    top: 4px ;
    
}
#text{
    height: 30px  ; 
    width: 150px  ;
    align-self: center ;
    margin-left: 100px;
    
    
}
#amazon{
    position: relative;
    top: 10px ; 

    font-size: 25px ;
    position: relative;
    bottom: 1000px ;
    margin-right: 100px ;
    padding-bottom: 20px;
    
    
    
}
#help{
    position: relative;
    top: 4px ; 
    font-size: 25px ;
    padding-bottom: 20px ;
    margin-right: 700px ; 

    
}
#contact{
    padding-bottom: center ;
    font-family: 25px ;
    position: relative;
    top: 2px ;
    font-weight: 600;
    margin-left: 500px ;
    
}
#sign{
    font-weight: 600;
    position: relative;
    top: 2px ;
    padding-top: center ;
}
#box1{
    color : black ; 
    background-color: aqua;
    height: 50px ;
    width: 50px ;
    border-radius: 30%;
    flex-grow: 0.5px ; 
    

    
}
#box2{
    color  : black ; 
    background-color: aqua;
    height: 50px ;
    width: 50px ;
    border-radius: 30%;
    flex-grow: 0.5px  ;
    margin-right: 60px ; 


    
}
#box0{
color  : black ; 
    background-color: aqua;
    height: 50px ;
    width: 50px ;
    border-radius: 30%;
    align-self: center ;
    flex-grow: 0.5px  ; 
    margin-right: 60px  ;
    

    

}
#cards{
    background-color: rgb(227, 182, 227) ; 
}
#card1{
    background-image: url(juhi.jpg);
    background-size: contain ;
}
#card2{
    background-image: url("../images/rydham.jpg");
    background-size: contain;
}
#card3{
    background-image: url(tax.jpg);
    background-size: contain ;
}
#card4{
    background-image: url(kaki.jpg);
    background-size: contain ;
}
#card5{
    background-image: url(flipkart.jpg);
    background-size: contain ;
}
#select{
    height: 100px ; 
    width: 100px ;

}
#shop{
    font-size: 25px ;
    padding-bottom: center ;
margin-left:50px ; 
border: 2px solid transparent;
}
#shop:hover{
    border: 2px solid gray;
}
#cancel{
    font-size: 25px ; 
    padding-bottom: center ;
    margin-left: 350px ; 


}

